.main-chat
  .main-chat__group-overview
    .group-overview__box
      .group-overview__box__group-name
        = @group.group_name
      .group-overview__box__group-member
        = "Member:"
        - @group.users.each do |user|
          = user.name
    .group-overview__edit-box
      = link_to "Edit", edit_group_path(@group), class: "group-overview__edit-box__btn"

  .main-chat__user-message
    = render @messages

  .form
    = form_for [@group, @message], html: {class: "form__area"} do |f|
      .send__message
        = f.text_field :body, class: "send__message__text", placeholder: "type a message"
        = f.label :image, class: "send__message__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "send__message__image_file"
      = f.submit "Send", class: "form__submit"
