.main-chat
  .main-chat__group-overview
    .group-overview__box
      .group-overview__box__group-name
        test
      .group-overview__box__group-member
        Member:masa
    .group-overview__edit-box
      = link_to "Edit", edit_group_path(@group), class: "group-overview__edit-box__btn"

  .main-chat__user-message
    .user-message__name
      .user-message__name__talker
        masa
      .user-message__name__day-time
        - time = Time.now
        = time.strftime("%Y/%-m/%-d/(%a) %-H時%-M分%-S秒")
    .user-message__message
      おはよう！

    .user-message__name
      .user-message__name__talker
        masa
      .user-message__name__day-time
        - time = Time.now
        = time.strftime("%Y/%-m/%-d/(%a) %-H時%-M分%-S秒")
    .user-message__message
      おはよう！

  .form
    = form_for [@group, @message], html: {class: "form__area"} do |f|
      .send__message
        = f.text_field :body, class: "send__message__text", placeholder: "type a message"
        = f.label :image, class: "send__message__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "send__message__image_file"
      = f.submit "Send", class: "form__submit"
