.side-bar
  .side-bar__user-name
    .user-name__item 
      .user-name__item__name 
        = current_user.name
      .user-name__item__icons
        = link_to new_group_path, class: "user-name__btn user-name__btn--edit" do
          = icon('fa fa-edit', class: "user-name__btn--icon")
          %span<>
        = link_to edit_user_path(current_user), class: "user-name__btn user-name__btn--cog" do
          = icon('fas fa-cog', class: "user-name__btn--icon")
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-list__box
        = link_to group_messages_path(group) do
          .group-list__box__name
            = group.group_name
          .group-list__box__message
           